<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="blossome.mapper.AppealMapper">

<!-- 게시판 목록 -->
 <select id="selectAppealView"  resultType="blossome.vo.AppealVO">
	SELECT * 
	FROM (SELECT rownum as rnum, g.*
			  FROM (SELECT a.*, m.mem_name
			  			FROM blo_appeal a, blo_member m
			  			WHERE a.mem_id = m.mem_id
			  			ORDER BY a.app_num desc)  g)
	<where>
			rnum <![CDATA[>=]]>  #{startnum} AND rnum <![CDATA[<=]]> #{endnum}
		</where>   		
	</select>
 
 <!-- 각각의 내용 -->
<select id="selectAppealDetailView" parameterType="hashMap"  resultType="blossome.vo.AppealVO">
	 SELECT *
	 FROM blo_member m, blo_appeal a
	 WHERE  m.mem_id = a.mem_id
	 AND app_num = #{appId}
 </select>
 
 <!-- 게시판 추가 -->
 <insert id="insertAppeal" parameterType="blossome.vo.AppealVO" >
	INSERT INTO blo_appeal(app_num, mem_id, app_title, app_content, app_date, app_img, app_count)
 	VALUES(#{appNum}, #{memId}, #{appTitle}, #{appContent}, sysdate ,#{appImg},0  )
</insert> 

<!-- 게시판 시퀀스 추가 -->
<select id="selectAppealSeq" resultType="String">
	SELECT appeal_seq.nextval as appeal_seq FROM dual
</select>

<!-- 게시판 수정 -->
<update id="updateAppeal" parameterType="blossome.vo.AppealVO">
	UPDATE blo_appeal
	SET app_title = #{appTitle}, app_content = #{appContent}, app_date = sysdate
	WHERE app_num = #{appNum}
</update>

<!-- 게시판 삭제 -->
 <delete id="deleteAppeal" parameterType="String" >
 	DELETE FROM blo_appeal
 	WHERE app_num = #{appId}
 </delete>
 
 <!-- count 수정 -->
<update id="updateappCount" parameterType="blossome.vo.AppealVO">
	UPDATE blo_appeal
	SET app_count = app_count + 1
	WHERE app_num = #{appId}
</update>

<select id="totalcol" parameterType="String" resultType="int">
		Select count(*)
		from BLO_APPEAL
		<where>
			<if test="appId != null">
				app_id = #{appId}
			</if>
		</where>
	</select>
	
 <!-- 툭 추가 -->
 <insert id="insertTuk" parameterType="blossome.vo.AppealVO" >
	INSERT INTO blo_choice
 	VALUES(#{appNum}, #{memId}, #{appTitle}, #{appContent}, sysdate ,#{appImg},0  )
</insert> 

<!-- 툭하기 -->
<!-- 나를 툭한 리스트에서 툭하기  -->	
	<insert id="tukInsert" parameterType="blossome.vo.TukVO">
		INSERT INTO BLO_CHOICE
		VALUES (#{choiceNum}, #{memId}, #{choiceId}, sysdate, 1)
	</insert>
	
	<!-- 툭취소 -->
	
	<delete id="tukDelete" parameterType="blossome.vo.TukVO">
	DELETE FROM BLO_CHOICE
	WHERE mem_id=#{memId} AND choice_id = #{choiceId}
	</delete>

</mapper>
