<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="blossom.mapper.LoginMapper">

<select id="checklogin" parameterType="hashMap" resultType="int">
	SELECT count(*) as count
	FROM BLO_MEMBER
	<where>
		MEM_ID = #{id}
		<if test="pw != null">
			and mem_pass = #{pw}
		</if>
	</where>
</select>

<select id="checknick" parameterType="hashMap" resultType="int">
	SELECT count(*) as count
	FROM BLO_MEMBER
	<where>
		MEM_NICK = #{nick}
	</where>
</select>

<select id="info" parameterType="hashMap" resultType="blossome.vo.MemVO">
	SELECT *
	FROM BLO_MEMBER
	<where>
		MEM_ID = #{id}
		<if test="pw != null ">
			and mem_pass = #{pw}
		</if>
	</where>
</select>

<select id="searchfirst" parameterType="hashMap" resultType="blossome.vo.MemVO">
	SELECT mem_id, mem_question, mem_answer
	FROM BLO_MEMBER
	WHERE mem_name = #{name} and mem_email = #{email}
</select>

<select id="searchsecond" parameterType="hashMap" resultType="blossome.vo.MemVO">
	SELECT mem_id, mem_pass
	FROM BLO_MEMBER
	WHERE mem_id = #{id} and mem_answer = #{answer}
</select>

<select id="idinfo" parameterType="hashMap" resultType="int">
	SELECT mem_state
	FROM BLO_MEMBER
	WHERE mem_id = #{id}
</select>

<update id="modify" parameterType="blossome.vo.MemVO">
	update BLO_MEMBER
	set mem_pass = #{memPass},
		mem_nick = #{memNick},
		mem_birth = #{memBirth},
		mem_tel = #{memTel},
		mem_loc = #{memLoc},
		mem_question = #{memQuestion},
		mem_answer = #{memAnswer},
		mem_email = #{memEmail}
	where mem_id = #{memId}
</update>


<update id="gguck" parameterType="hashMap">
	update blo_addmember
	set mem_count = 1
	where mem_id=#{id}
</update>

<select id="find" parameterType="blossome.vo.FIndVO" resultType="blossome.vo.MemVO">
	select  m.*
	from blo_member m,BLO_ADDMEMBER a
	<where>
		m.mem_id = a.mem_id and mem_state = 1
		<if test="age1 != null and  age1 != 'null' and age1 != '' ">
			and to_char(m.mem_birth,'yyyy') between #{age1} and #{age2}
		</if>
		<if test="key1 != null and  key1 != 'null' and key1 != '' ">
			and a.MEM_HEIGHT between #{key1} and #{key2}
		</if>
		<if test="loc != null">
			and m.mem_loc in
			<foreach collection="loc" item="loc"   open="(" close=")" separator=",">
       			#{loc}
  			</foreach>
		</if>
		<if test="hak != null">
			and a.mem_ability in
			<foreach collection="hak" item="hak"   open="(" close=")" separator=",">
       			#{hak}
  			</foreach>
		</if>
		<if test="mo != null">
			and a.mem_religion in
			<foreach collection="mo" item="mo"   open="(" close=")" separator=",">
       			#{mo}
  			</foreach>
		</if>
	</where>
</select>

</mapper>
